:host {
  width: 100%;
}

.assistedCustomersContainer {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  width: 100%;
  height: 3rem;
  /*margin-top: 1rem;*/
  /*padding: 1rem 0rem 0rem 0rem;*/
  box-sizing: border-box;
}

.activeCustomerButton {
  height: 100%;
  padding-left: 1.5rem;
  padding-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #2292ee;
  border-radius: 6px 6px 0 0;
  /*box-shadow: 0 4px 8px #2292ee22;*/
  font-weight: 600;
  color: #fff;
  overflow: hidden;
}

.customerButton {
  height: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /*background-color: #fff;*/
  border-radius: 6px 6px 0 0;
  /*box-shadow: 0 4px 8px #2292ee22;*/
  font-weight: 600;
  column-gap: 1.5rem;
  overflow: hidden;
  background-color: #f0f0f0;
  border: 1px solid #d0d0d0;
  border-width: 1px 1px 0px 1px;
}

.customerButtonClose {
  height: 100%;
  background-color: #21659c;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  margin-left: 1.5rem;
}
