<main class="chatMain">
    <!--<div *ngIf="currentRole == 'ADMIN'" id="queue" class="customerList">
        <div class="customerListTitle">En attente de support :  </div>
        <div class="customerButton" *ngFor="let user of queue; let i = index" (click)="assignNewCustomerToAdmin(user)">
            {{user.username}}
        </div>
    </div>-->
    <app-queue-list 
        *ngIf="currentRole == 'ADMIN'" id="queue"
        [queue]="queue"
        (callAssignNewCustomerToAdmin)="assignNewCustomerToAdmin($event)"
    ></app-queue-list>
    <app-assisted-customers-list
        *ngIf="currentRole == 'ADMIN'"
        [activeCustomer]="activeCustomer" 
        (callSwitchConversation)="switchConversation($event)"
        (callCloseConversation)="closeConversation($event)"
    ></app-assisted-customers-list>
    <div class="assistYouSoonContainer" *ngIf="currentRole == 'CUSTOMER'">A member of our support team will assist you soon.</div>
    <div style="width: 100%;" *ngFor="let message of activeConversation">
        <app-message *ngIf="message.type == 'CHAT'" [message]="message"></app-message>
        <app-joining-alert *ngIf="message.type == 'JOIN' && currentRole == 'CUSTOMER'"></app-joining-alert>
    </div>
    <div class="newMessageContainer">
        <textarea style="resize:none" placeholder="Écrivez ici votre message" #messageTextarea></textarea>
        <button (click)="sendMessage()">Envoyer</button>
    </div>
</main>
