<main class="chatMain">
    <div *ngIf="currentRole == 'ADMIN'" id="queue" class="customerList">
        <div class="customerButton" *ngFor="let user of queue; let i = index" (click)="assignNewCustomerToAdmin(user)">
            {{user.username}}
        </div>
    </div>
    <app-assisted-customers-list
        [activeCustomer]="activeCustomer" 
        (callSwitchConversation)="switchConversation($event)"
        (callCloseConversation)="closeConversation($event)"
    ></app-assisted-customers-list>
    <div *ngIf="activeCustomer?.username != '' && currentRole == 'ADMIN'">
        You are speaking with {{activeCustomer?.username}}
    </div>
    <div style="width: 100%;" *ngFor="let message of activeConversation">
        <app-message *ngIf="message.type == 'CHAT'" [message]="message"></app-message>
        <app-joining-alert *ngIf="message.type == 'JOIN'"></app-joining-alert>
    </div>
    <div class="newMessageContainer">
        <textarea style="resize:none" placeholder="Écrivez ici votre message" #messageTextarea></textarea>
        <button (click)="sendMessage()">Envoyer</button>
    </div>
</main>
